{#{% extends 'base.html.twig' %}#}

{#{% block title %}Hello StudentController!{% endblock %}#}

{#{% block body %}#}

{#<div class="conainer">#}
{#<h1>Bienvenue</h1>#}

{#    {{ form_start(formStudent) }}#}
{#    {{ form_widget(formStudent) }}#}
{#    {{ form_end(formStudent) }}#}

{#</div>#}
{#{% endblock %}#}

{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        #simpleform {
            width:600px;
            border:2px solid grey;
            padding:14px;
        }
        #simpleform label {
            font-size:12px;
            float:left;
            width:300px;
            text-align:right;
            display:block;
        }
        #simpleform span {
            font-size:11px;
            color:grey;
            width:100px;
            text-align:right;
            display:block;
        }
        #simpleform input {
            border:1px solid grey;
            font-family:verdana;
            font-size:14px;
            color:grey;
            height:24px;
            width:250px;
            margin: 0 0 20px 10px;
        }
        #simpleform button {
            clear:both;
            margin-left:250px;
            background:grey;
            color:#FFFFFF;
            border:solid 1px #666666;
            font-size:16px;
        }
            td {
                width: 100px;
                text-align: center;
                vertical-align: center;
            }

        .container,.DisplayList,#simpleform{
            margin: auto;
            width: 50%;
            border: 3px solid green;
            padding: 10px;
        }

        #img{
            height: 180px;
            width: 254px;
            margin-left: 10px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <h3>Student form</h3>
        <div id="simpleform">
{#            {{ form_start(formStudent) }}#}
{#            {{ form_widget(formStudent) }}#}
{#            {{ form_end(formStudent) }}#}

            {{ form_start(formStudent) }}
            {{ form_label(formStudent.name) }}
            {{ form_row(formStudent.name) }}

            {{ form_label(formStudent.age) }}
            {{ form_row(formStudent.age) }}

            {{ form_label(formStudent.adress) }}

            {{ form_row(formStudent.adress) }}
            <img id="img">
            {{ form_row(formStudent.image,{'attr':{'class':'uploadImage'}}) }}

{#            {{ form_row(formStudent.image) }}#}
            {{ form_end(formStudent) }}
        </div>

        <br><br>

        <div class="DisplayList">
            <table border="1px solid">
                <tr>
                    <th>ID</th>
                    <th>name</th>
                    <th>age</th>
                    <th>adress</th>
                    <th>image</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                {% for student in studentList %}
                    <tr>
                        <td>{{ student.id }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.age }}</td>
                        <td>{{ student.adress }}</td>
                        <td>
                            <img src="{{ asset('uploads/'~ student.image) }}" alt="" width="100ppx" height="100px">
                        </td>
                        <td>
                            <a href="{{ path('edit_student',{'id': student.id}) }}">Edit</a>

                        </td>
                        <td>
                            <a href="{{ path('delete_student',{'id': student.id}) }}">Delete</a>
                        </td>
                    </tr>
                {% endfor%}
            </table>
        </div>
    </div>

    <script>

        $('.uploadImage').change(myUploadOnChangeFunction);

        function createObjectURL(object) {
            return (window.URL) ? window.URL.createObjectURL(object) : window.webkitURL.createObjectURL(object);
        }

        function revokeObjectURL(url) {
            return (window.URL) ? window.URL.revokeObjectURL(url) : window.webkitURL.revokeObjectURL(url);
        }

        function myUploadOnChangeFunction() {
            if(this.files.length) {
                for(var i in this.files) {
                    if(this.files.hasOwnProperty(i)){
                        console.log(i);
                        var src = createObjectURL(this.files[i]);
                        var image = new Image();
                        image.src = src;
                        $('#img').attr('src', src);
                    }
                    // Do whatever you want with your image, it's just like any other image
                    // but it displays directly from the user machine, not the server!
                }
            }
        }

    </script>
{% endblock %}
